.container {
    padding: 0 10px;
    margin: 0 auto;
  
    &--navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 103px;
    }
  }
  
  .align-container {
    text-align: center;
  }
  
  .header {
  
   
    background:  url("../img/header_bg.jpg")  center no-repeat  ;
    background-size: cover;
    font-family: $montserrat,sans-serif;
  
    &__navbar {
      background-color: #27262a;
      position: relative;
    }
  
    &__fork-app {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding-top: 43px;
    }
  }
  
  
  .navbar_btn{
    color:#fff;
    background-color: #8d81ac;
    padding: 10px 29px;
    border-radius: 20px;
    font-weight: 700;
  }
  
  .burger__menu {
    display: block;
  
    &.active {
      display: none;
    }
  }
  
  .burger__menu-closed {
    display: none;
  
    &.active {
      display: block;
      width: 26px;
    }
  }
  
  
  
  .navbar {
    &__logo {
      background-image: url('../img/header-logo.png');
      width: 43px;
      height: 41px;
    }
  
    &__text {
      display: none;
    }
  
    &__nav {
      display: none;
      position: absolute;
      top: 103px;
      right: 0;
      left: 0;
      z-index: 1;
      padding: 0 10px;
      margin: 0 auto;
    }
  
    &__nav.active {
      display: block;
  
    }
  
  
    &__nav-item {
      color: #fff;
      background-color: #333;
      font-size: 21px;
      font-weight: 500;
      line-height: 92px;
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      display: block;
      padding-left: 33px;
      border-bottom: 1px solid #3b3b3b;
  
      &:hover {
        transition: .5s;
        color: #8d81ac;
      }
  
      &:not(:hover) {
        transition: .5s;
        color: #fff;
        display: block;
      }
  
      &:hover::before {
        content: "";
        background-color: #8d81ac;
        width: 8px;
        height: 53px;
        margin-top: 20px;
        position: absolute;
        left: 10px;
      }
    }
  
    &__btn {
      display: inline-flex;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      background-color: #8d81ac;
      padding: 12px 24px;
      border-radius: 100px;
      cursor: pointer;
      border: 1px solid transparent;
  
      &:hover {
        color: #8d81ac;
        background-color: #fff;
        border: 1px solid #8d81ac;
        transition: .5s;
  
      }
  
      &:not(:hover) {
        color: #fff;
        background-color: #8d81ac;;
        border: 1px solid transparent;
        transition: .5s;
  
      }
    }
  }
  
  
  
  
  .fork-app {
    &__title {
      color: #fff;
      font-size: 48px;
      font-weight: 700;
    }
  
    &__slogan {
      color: #8d81ac;
      font-size: 18px;
      line-height: 34px;
      font-weight: 400;
      padding: 20px ;
      font-family: Montserrat, AdobeInvisFont, Courier, sans-serif;
    }
  
    &__description {
      color: #848e97;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
      font-family: Montserrat, AdobeInvisFont, Courier, sans-serif;
      padding-bottom: 401px;
    }
  
    &__btn-description {
      color: #848e97;
      font-size: 14px;
      line-height: 15px;
      position: absolute;
      bottom: -53px;
    }
  }
  
  .button {
    &__circle {
      &--header {
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 20.45px;
        background-color: #8d81ac;
        border-radius: 100px;
        padding: 15px 31px;
        position: relative;
        bottom: -25px;
        cursor: pointer;
        border: 1px solid transparent;
  
        &:hover {
          color: #8d81ac;
          background-color: #fff;
          border: 1px solid #8d81ac;
          transition: .5s;
        }
  
        &:not(:hover) {
          color: #fff;
          background-color: #8d81ac;
          border: 1px solid transparent;
          transition: .5s;
  
        }
      }
    }
  }
  
  @media #{$tablet} {
  
  
      .navbar__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
          margin: 0 auto;
          width: 70%;
      }
  
    
      .header {
        background-image:url("../img/header_bg.jpg") ;
        &__navbar {
          padding: 0 20px;
          justify-content: space-between;
          height: 118px;
        }
    
        &__fork-app {
          padding-top: 50px;
        }
      }
    
      .logo {
        //position: relative;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
      }
    
      .navbar_btn {
        margin-bottom: 20px;
        &:hover {
          transition: .5s;
          color: #8d81ac;
          background-color: #fff;
        }
    
        &:not(:hover) {
          transition: .5s;
          color: #fff;
          background-color: #8d81ac;
          display: block;
        }
    
      }
    
      .burger__menu,.burger__menu-closed {
        display: none;
      }
    
      .navbar {
        &__logo {
          position: relative;
        }
        
        &__text {
          position: absolute;
          top:7px;
          left:36px;
          display: block;
          text-transform: uppercase;
          padding-left:17px;
          font-family: $montserrat;
          font-size: 24px;
          color: rgba(141, 129, 172, 255);
  
        }
  
    
        &__nav {
          display: flex;
          top: 36px;
        }
    
    
        &__nav.active {
          display: block;
        }
    
        &__nav-item {
          background-color: transparent;
          border-bottom: 1px solid transparent;
          color: #8d81ac;
          font-size: 16px;
          font-weight: 700;
          padding-left: 0px;
          font-family: 'Montserrat', sans-serif;
    
    
          &:hover {
            color: #fff;
            transition: 0.5s;
          }
    
          &:not(:hover) {
            transition: .5s;
            color: #8d81ac;
          }
    
          &:hover::before {
            content: "";
            background-color: transparent;
            width: 0;
            height: 0;
            margin-top: 0;
          }
    
        }
    
        &__btn {
          position: relative;
          bottom: 20px;
          padding: 12px 35px;
        }
      }
  
    .navbar__logo:hover   {
       background-image: url('../img/headerlogo-hover.png');
       cursor: pointer;
    }
  
    .navbar__logo:hover .navbar__text{
      color:#fff;
      cursor: pointer;
    }
    
      .fork-app {
        &__title {
          font-size: 72px;
        }
    
        &__slogan {
          padding: 26px 0 0 0;
          font-size: 24px;
        }
    
        &__description {
          font-size: 14px;
          padding-top: 11px;
          padding-bottom: 454px;
        }
      }
  }
  
  @media #{$highDesktop} {
  
      .container--navbar{
        max-width: 1200px;
  }
      .header {
         background-image:  url("../img/header_bg.jpg") ;
         background-repeat: no-repeat;
         background-size: center; 
        &__navbar {
          height: 100px;
        }
    
        &__fork-app {
          padding-top: 60px;
        }
      }
    
      .logo {
        padding-bottom: 6px;
        flex-grow: 6;
      }
    
      .header-container {
        padding: 0 90px;
      }
    
      .navbar {
        &__nav {
            
          position: relative;
          top:0;
          left:-30px;
          align-items: center;
          width: auto;
          flex-grow: 2  ;
        }
  
        &_btn {
          margin-bottom: 6px;
        }
      }
    
      .fork-app {
        &__title {
          font-size: 82px;
        }
    
        &__slogan {
          padding-top: 18px;
          font-size: 30px;
        }
    
        &__description {
          font-size: 16px;
          padding-top: 18px;
        }
      }
    
      .button {
        &__circle {
          &--header {
            padding: 23px 63px;
            bottom: -30px;
          }
        }
      }
  }
  